<div>
  <mat-card class="unidade-card">
    <mat-card-header class="medidas-header">
      <mat-card-title>Cadastro de Medidas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" autocomplete="off">
        <div class="linha-campos">
          <mat-form-field class="half-width" appearance="fill">
            <mat-label>Unidade</mat-label>
            <input matInput placeholder="Nome da Unidade" formControlName="nome" required>
            <mat-icon matSuffix>balance</mat-icon>
            @if(form.get('nome')?.hasError('required')) {
              <mat-error>Nome da Unidade é obrigatório</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="half-width" appearance="fill">
            <mat-label>Sigla</mat-label>
            <input matInput placeholder="Sigla da Medida" formControlName="sigla" required>
            <mat-icon matSuffix>balance</mat-icon>
            @if (form.get('sigla')?.hasError('required')) {
              <mat-error>Sigla é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="botoes">
          <button mat-raised-button color="primary" (click)="onSalvar()" [disabled]="form.invalid || salvando">
            <mat-icon>save</mat-icon> Salvar
          </button>
          <button mat-raised-button color="warn" (click)="onCancelar()" [disabled]="salvando">
            <mat-icon>cancel</mat-icon> Cancelar
          </button>
          <button mat-raised-button color="accent" (click)="onImprimir()" [disabled]="salvando || !medidaParaEditar">
            <mat-icon>print</mat-icon> Imprimir
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
