<h3 class="lista-usuarios-titulo">Usuários</h3>
<div class="lista-usuarios-table-container">
  <table mat-table [dataSource]="usuarios" class="mat-elevation-z2">

    <!-- Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef class="col-nome">Nome</th>
      <td mat-cell *matCellDef="let usuario" class="col-nome">{{ usuario.nome }}</td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="col-email">Email</th>
      <td mat-cell *matCellDef="let usuario" class="col-email">{{ usuario.email }}</td>
    </ng-container>

    <!-- Role -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="col-role">Role</th>
      <td mat-cell *matCellDef="let usuario" class="col-role">{{ usuario.role }}</td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef class="col-acoes">Ações</th>
      <td mat-cell *matCellDef="let usuario" class="col-acoes">
        <button mat-icon-button matTooltip="Alterar" aria-label="Alterar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Apagar" aria-label="Apagar" style="margin-left:5px;">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div class="lista-usuarios-footer">
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Adicionar
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>print</mat-icon>
      Imprimir
    </button>
  </div>
</div>
