/* src/app/components/tela-principal/tela-principal.component.css */
/*.tela-principal-container {
  height: 100vh;
  display: flex;
}*/

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */
  width: 30%;
  height: 100vh;

}

.rodape-propaganda {
  position: fixed;
  left: 240px; /* largura do menu lateral */
  bottom: 0;
  width: calc(100% - 240px);
  background: #f5f5f5;
  text-align: center;
  padding: 12px 0;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
  z-index: 100;
}

/*.principal-section {
  width: 70%;
  padding: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.principal-section > * {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}*/

.tela-principal-container,
.principal-section {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
