<!-- src/app/components/tela-principal/tela-principal.component.html -->
<mat-sidenav-container class="tela-principal-container">
  <mat-sidenav mode="side" opened class="menu-section">
    <app-menu-principal></app-menu-principal>
  </mat-sidenav>
  <mat-sidenav-content class="principal-section">
    <div class="conteudo-principal">
      <router-outlet></router-outlet>
    </div>
    <footer class="rodape-propaganda">
      <div class="rodape-content">
        <div class="rodape-seguranca">
          <app-info-seguranca></app-info-seguranca>
        </div>
        <div class="rodape-info">
          <span>&copy; 2026 - <a href="https://fabriciosanches.com" target="_blank">fabriciosanches.com</a></span>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
