<!-- src/app/components/tela-principal/tela-principal.component.html -->
<mat-sidenav-container class="tela-principal-container">
  <mat-sidenav mode="side" opened class="menu-section">
    <app-menu-principal></app-menu-principal>
  </mat-sidenav>
  <mat-sidenav-content class="principal-section">
    <router-outlet></router-outlet>
    <footer class="rodape-propaganda">
       &copy; 2026 - <a href="https://fabriciosanches.com" target="_blank">fabriciosanches.com</a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
