:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

:host > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

:host > div > mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}
