mat-card-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px; /* Ajuste conforme necessário */
}
.conversoes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.linha-campos {
  display: flex;
  gap: 16px;
  width: 100%;
}

.half-width {
  flex: 1 1 0;
}

.full-width {
  width: 100%;
}

.botoes {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 16px;
}

:host {
  display: block;
  margin-top: 5px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .conversoes-card {
    max-width: 100%;
    margin: 8px;
    padding: 8px 0;
  }
  .botoes {
    flex-direction: column;
    gap: 8px;
  }

}
