<div>
  <mat-card class="usuario-card">
    <mat-card-header class="usuario-header">
      <mat-card-title>Cadastro de Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" autocomplete="off">
        <div class="linha-campos">
          <mat-form-field class="half-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome do Usuário" formControlName="nome" required>
            <mat-icon matSuffix>person</mat-icon>
            @if(form.get('nome')?.hasError('required')) {
              <mat-error>Nome é obrigatório</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="half-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail do Usuário" formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
            @if (form.get('email')?.hasError('required')) {
              <mat-error>E-mail é obrigatório</mat-error>
            } @else if (form.get('email')?.hasError('email')) {
              <mat-error>E-mail inválido</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="linha-campos">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput type="tel" formControlName="cpf" required mask="000.000.000-00">
            <mat-icon matSuffix>fingerprint</mat-icon>
            @if(form.get('cpf')?.hasError('required')) {
              <mat-error>CPF é obrigatório</mat-error>
            }
            @else if(form.get('cpf')?.hasError('invalidCPF')) {
              <mat-error>CPF é inválido</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Perfil</mat-label>
            <mat-select formControlName="role" required>
              @for (r of roles; track r.value) {
                <mat-option [value]="r.value">{{ r.label }}</mat-option>
              }
            </mat-select>
            <mat-icon matSuffix>supervisor_account</mat-icon>
            @if (form.get('role')?.hasError('required')) {
              <mat-error>Role é obrigatório</mat-error>
            }

          </mat-form-field>
        </div>
        <div class="linha-campos">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Data de expiração da senha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataExpiracao" [disabled]="true">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Tentativas restantes</mat-label>
            <input matInput type="number" formControlName="tentativas" min="0" max="5" [disabled]="true">
            <mat-icon matSuffix>lock_reset</mat-icon>
          </mat-form-field>
        </div>
        <div class="toggles">
          <div class="toggle-row">
            <div class="toggle-item">
              <mat-label>Primeiro Acesso</mat-label>
              <mat-slide-toggle formControlName="primeiroAcesso"></mat-slide-toggle>
            </div>
            <div class="toggle-item">
              <mat-label>Bloqueio Administrativo</mat-label>
              <mat-slide-toggle formControlName="bloqueioAdm"></mat-slide-toggle>
            </div>
          </div>
          <div class="toggle-row">
            <div class="toggle-item">
              <mat-label>Bloqueio por Tentativas</mat-label>
              <mat-slide-toggle formControlName="bloqueioTentativas"></mat-slide-toggle>
            </div>
            <div class="toggle-item">
              <mat-label>Bloqueio por Expiração de Senha</mat-label>
              <mat-slide-toggle formControlName="bloqueioExpiracao"></mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="botoes">
          <button mat-raised-button color="primary" (click)="onSalvar()" [disabled]="form.invalid || salvando">
            <mat-icon>save</mat-icon> Salvar
          </button>
          <button mat-raised-button color="warn" (click)="onCancelar()" [disabled]="salvando">
            <mat-icon>cancel</mat-icon> Cancelar
          </button>
          <button mat-raised-button color="accent" (click)="onImprimir()" [disabled]="salvando || !usuarioParaEditar">
            <mat-icon>print</mat-icon> Imprimir
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
