<div class="menu-container">
  <mat-card class="menu-card">
    <img ngSrc="/images/LogoTransp.png" alt="Logo da Empresa" class="logo" height="97" width="184" priority>
    <mat-card-content class="menu-content">
      <div *ngFor="let menu of menus">
        <div class="menu-item" (click)="toggleMenu(menu)">
          {{ menu.label }}
        </div>
        <div *ngIf="menu.isOpen">
          <div *ngFor="let submenu of menu.submenus"
               class="submenu-item"
               [ngClass]="{ selected: selectedSubmenu === submenu.label }"
               (click)="selectSubmenu(submenu)">
            {{ submenu.label }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
